# Default application port
PORT=5000

# Database configuration
DB_CONNECTION=mongodb://127.0.0.1:27017
DB_NAME=demo-untar

# Passport JWT secret string and expiration duration
JWT_SECRET=MoZaYeV.v
JWT_EXPIRES_IN=1d